#
#docker-compose.yml
sysdata/

docs-exclude/

#vol/nginx/

.env
.env.*
.env.local

vol/nginx/conf.d/default.conf

archive/
/x/
backup/
certs/
copyof/

.DS_Store
node_modules
# start.sh

local.ini
# docker.ini

acme-challenge/
